@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

.cards{
  padding: 56px 16px 16px 16px;
}

.foto{
  border-radius: 20px;
  display: block;
  filter: grayscale(100%);
}

.gradient{
  border-radius: 20px;
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.73));
}

.zoekbalk{
  border: solid 1px black;
  border-radius: 20px;
  padding:10px;
  outline: none;
  width: 200px;
  
}




.cards_content h4{
  margin: 12px 0 -10px 0;
  font-size: 16px;
  line-height: 2;
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #F2F2F2;
}

.cards_content p {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  color: #F2F2F2;
}

.cards_content h6 {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  margin-left: -10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #F2F2F2;
}

.box{
  display: flex;
  gap: 20px;

  margin-bottom: 20px;
}

.cards_content{
  align-items: center;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  border: solid rgba(0, 0, 0, 0) 1px;
  flex: 1;
  flex-basis: 100%;
  border-radius: 20px;
  position: relative;
}

.float img{
  margin-left: 20px;
  padding-top: 2px;
}

.float {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.footBox{
  position: absolute;
  bottom:40px;
  left: 20px;
  padding: 0 20px 0 20px;
  border: solid black 2px;
  border-radius: 50px;
}

.foot{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: black;
}


@media screen and (min-width: 480px) {
  .card {
    flex-basis: 40%;
    margin: 5px;
  }
}

@media screen and (min-width: 490px) {
  .card {
    flex-basis: 31%;
    margin: 5px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title, .titleB {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.titleB{
  margin-top:20px ;
}
