

.cards{
  background-color: rgb(245, 245, 245);
  padding: 56px 16px 16px 16px;

  width: 400px;
  
}
.cards_content h4{
    z-index: 2;
    position: relative;
    margin: 12px 0 4px 0;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 2;
}


.cards_content p {
  z-index: 2;
  position: relative;
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
}

.box{
  display: flex;
  gap: 20px;
}


.cards_content{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* 

.cards_content p{
  background-color: rgb(36, 36, 36);
  border-radius: 20px;
  width: 330px;
  height: 215px;
  padding: 130px 0px 0px 20px;
}
*/

.cards_content img{
  margin-left: 20px;

}