@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.cards{
  padding: 56px 16px 16px 16px;
}

.cards_content h4{
  margin: 12px 0 4px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 2;
}

.cards_content p {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
}

.box{
  display: flex;
  gap: 20px;
}

.cards_content{
  align-items: center;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: gray;
  flex: 1;
  flex-basis: 100%;
}

.cards_content img{
  margin-left: 20px;
}

@media screen and (min-width: 480px) {
  .card {
    flex-basis: 40%;
    margin: 5px;
  }
}

@media screen and (min-width: 490px) {
  .card {
    flex-basis: 31%;
    margin: 5px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}
